.img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: 200px;
    width: 300px;
    margin: auto;
    /* margin-left: 200px; */
    /* margin-top: 200px; */


}

.form-control {
    width: 90%;
}

.division{
    margin-top: -39px;
    display: flex;
    justify-content: center;
    width: 1000px;
}
.back {
    margin-top: 60px;
    height: 660px;
    width: 700px;
    background-color: rgb(250, 189, 109);
    margin-bottom: 40px;
margin-left: auto;   
margin-right: auto;
}

.foot {
  background-color: #ffe3c0;
    margin-top: 100px;
}
@media (max-width: 600px) {
    .back{
     height: 460px;
    width: 280px;
    }
    
    .foot{
        margin-top: 190px;
        height: 30px;
    }

    .footer {
        font-size: 15px;
    }
    
}